
<!Doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'TicketOn/Home.css'%}"> 
    <title>TicketJaeger - Inicio</title>
</head>
<body>
    <header>
        <diV id="main-nav_1">
            <nav class="main-nav">
                <a href="home.html">Inicio</a>
                <a href="">Eventos</a>
                <a href="">Ayuda</a>
            </nav>
        </div>
        <div id="main-nav_2">
            <nav class="main-nav">
                <input id="barra" type="text" placeholder="Busqueda">
                <a href="">Ingresa</a>
            </nav>
        </div>
        
    </header>
    <footer>

    </footer>
</body>
</html>
